.help_item {
  margin-bottom: 10rpx;
  background-color: #ffffff;
  &_body {
    width: 100%;
    display: flex;
    padding: 20rpx;
    box-sizing: border-box;
    position: relative;
    .money {
      width: 190rpx;
      min-width: 190rpx;
      height: 190rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      color: orange;
      font-weight: bold;
      font-size: 70rpx;
    }
    &_content {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-left: 15rpx;
      .title {
        font-weight: bold;
        margin-bottom: 20rpx;
      }
      .desc {
        font-size: 26rpx;
        margin-bottom: 15rpx;
      }
      .phone {
        font-size: 26rpx;
        margin-bottom: 15rpx;
        color: #666;
      }
      .desc {
        // 不规定最大宽度，超出省略无效
        max-width: 400rpx;
        color: #666;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .publish_time {
        position: absolute;
        bottom: 10rpx;
        right: 10rpx;
        margin-top: 30rpx;
        margin-left: auto;
        color: #666;
        font-size: 26rpx;
      }
    }
    .tag {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100rpx;
      height: 50rpx;
      position: absolute;
      top: 0;
      right: 0;
      background-color: green;
      color: white;
    }
    .tag_end {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100rpx;
      height: 50rpx;
      position: absolute;
      top: 0;
      right: 0;
      background-color: brown;
      color: white;
    }
  }
  &_handle {
    display: flex;
    justify-content: flex-end;
    van-button:first-child {
      margin-right: 8rpx;
    }
  }
}