.myHelp {
  .tabBar {
    box-sizing: border-box;
    padding: 10rpx 10rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
  }
  .content {
    
  }
}