.lose_item {
  width: 100vw;
  display: flex;
  padding: 20rpx;
  background-color: #fff;
  margin-bottom: 5rpx;
  box-sizing: border-box;
  image {
    width: 250rpx;
    height: 250rpx;
    min-width: 250rpx;
    border-radius: 20rpx;
  }
  &_content {
    display: flex;
    flex-direction: column;
    margin-left: 10rpx;
    width: 100vw;
    .name {
      font-weight: bold;
    }
    .region {
      margin-top: 35rpx;
      font-size: 26rpx;
      margin-bottom: 5rpx;
    }
    .date {
      font-size: 26rpx;
      margin-bottom: 5rpx;
    }
    .desc {
      max-width: 400rpx;
      font-size: 26rpx;
      color: #666;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 5rpx;
    }
    .publish_time {
      margin-top: 30rpx;
      color: #666;
      font-size: 26rpx;
    }
  }
}