.weather_card {
  box-sizing: border-box;
  width: 710rpx;
  height: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #d0d6e0, #2e7bd8);;
  background-size: cover;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transform: translateX(6px);
}

.location {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 4px;
}

.temperature {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.weather_text::before {
  content: '温度适宜，适合出行';
}

.temperature-cold + .weather_text::before {
  content: '温度较低，请多加衣保暖';
}

.temperature-hot + .weather_text::before {
  content: '天气炎热，注意避暑';
}


.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather_img {
  width: 64px;
  height: 64px;
  background-image: url('../../assets//images/weather.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
