.weather_card {
  box-sizing: border-box;
  width: 710rpx;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to bottom, #d0d6e0, #2e7bd8);;
  background-size: cover;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  .title {
    color: gray;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      .location {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        margin-bottom: 4px;
      }
    }
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      .temperature {
        margin-top: 20rpx;
        font-size: 32px;
        font-weight: bold;
        color: #fff;
      }
    }
  }
}



.weather_text::before {
  content: '温度适宜，适合出行';
}

.temperature-cold + .weather_text::before {
  content: '温度较低，请多加衣保暖';
}

.temperature-hot + .weather_text::before {
  content: '天气炎热，注意避暑';
}
