.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #f3f3f3;
  .swipe {
    padding: 30rpx 0;
  } 
  .idleTransaction {
    width: 710rpx;
    height: 220rpx;
    border-radius: 20rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
  }
  .lostAndFound {
    width: 710rpx;
    height: 220rpx;
    border-radius: 20rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20rpx;
    background-color: honeydew;
  }
  .campusHelp {
    width: 710rpx;
    height: 220rpx;
    border-radius: 20rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20rpx;
    background-color: red;
  }
  .classify {
    .idleClassify {
      width: 710rpx;
      height: 100rpx;
      background-color: slateblue;
      text-align: center;
      line-height: 100rpx;
      color: #fff;
    }
  }
}