/**index.wxss**/
.container {
  .functionArea {
    width: 710rpx;
    height: 240rpx;
    border-radius: 20rpx;
    background-color: gray;
    margin-top: 20rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    .idleTransaction {
      width: 300rpx;
      height: 220rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20rpx;
      background-color: green;
    }
    .lostAndFound {
      width: 300rpx;
      height: 220rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20rpx;
      background-color: honeydew;
    }
  }
}