.search {
  background-color: #ffffff;
  height: 100rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  &_input {
    width: 90%;
    height: 75rpx;
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 50rpx;
    color: black;
    &_content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 75rpx;
      .text {
        margin-left: 8rpx;
      }
    }
  }
}