.need {
  &_item {
    background-color: #ffffff;
    margin-bottom: 20rpx;
    .content {
      box-sizing: border-box;
      width: 100vw;
      height: 250rpx;
      padding: 15rpx;
      display: flex;
      flex-direction: column;
      position: relative;
      .name {
        font-weight: bold;
        margin-bottom: 22rpx;
      }
      .desc, .phone {
        margin-bottom: 15rpx;
      }
      .time {
        margin-top: 15rpx;
        margin-left: auto;
        color: #666;
        font-size: 28rpx;
      }
      .tag {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100rpx;
        height: 50rpx;
        position: absolute;
        top: 0;
        right: 0;
        background-color: green;
        color: white;
      }
    }
    &_handle {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10rpx;
      van-button:first-child {
        margin-right: 8rpx;
      }
    }
  }
}